.cp-btn-2 {
  position: relative;
  background: #1e1e1e;
  background: linear-gradient(
    70deg,
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73,
    #0ebeff,
    #ffdd40,
    #ae63e4,
    #47cf73
  );
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
  animation: rainbow-border 3.5s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  -webkit-text-stroke: 1px white;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}
